* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(47, 155, 5);
  padding: 10px;
  position: relative;
}

.user__deck-card, .comp__deck-card {
  display: flex;
  gap: 5px;
}

.user__card, .comp__card, .deck__card {
  width: 70px;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  background-color: #fff;
  letter-spacing: 3px;
}

.user__card {
  cursor: pointer;
}


.deck__box {
  position: relative;
  background-color: rgb(50, 218, 134);
  width: 200px;
  height: 200px;
  align-self: flex-end;
  border-radius: 5px;
  font-size: 20px;
}


.deck__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.deck__deck-card {
  position: absolute;
  top: calc(50% - 35px);
  right: 10vw;
  transform: rotate(-90deg);
}

.card_heart {
  color: red;
}

.card_peak {
  color: black;
}

.cart_shirt {
  position: absolute;
  transform: rotate(-90deg);
  top: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(55deg, rgba(2,0,36,1) 0%, rgba(247,247,247,1) 50%, rgb(247, 60, 60) 100%);
}